# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\JamesP\Desktop\coleg\s2\cmsc204\CMSC204\.idea/dataSources/
/dataSources.local.xml
